
<div class="container">
  <div class="row">
    <div class="card col-md-12 m-auto bg-dark">
      <div class="card-header text-center text-light">
        <h3>Options the Game</h3>
      </div>
      <div class="card-body">

        <!-- PAGINATION -->
        <div class="container-fluid shadow">
          <div class="row">
            {{#ubicationProfile 'Stast' tab '/game' 'bi-controller'}}
              {{{this}}}
            {{/ubicationProfile}}
            {{#ubicationProfile 'Missions' tab '/game/missions' 'bi-card-text'}}
              {{{this}}}
            {{/ubicationProfile}}
            {{#ubicationProfile 'Shop' tab '/game/shop' 'bi-cart4'}}
              {{{this}}}
            {{/ubicationProfile}}
          </div>
        </div>

        <!-- CARD STAST (default) -->
        {{#if dataGammer}}
          <div class="card col-12 m-auto bg-dark mt-5 shadow">
            <div class="card-header text-center text-light">
              <h4>@{{user.fs_username}}</h4>
            </div>
            <div class="card-body container-fluid">
                <div class="row">
                  <div class="card col-lg-4 bg-dark">
                    <div class="card-body">
                      <img src="/img/{{user.fs_avatar_name}}" class='rounded-circle text-danger card-img-top' alt="Personage Fantasy Story">
                    </div>
                  </div>
                  <div class="card col-lg-8 bg-dark p-0">
                    <div class="card-body">
                      <table class='table table-dark table-bordered table-striped'>
                        <thead>
                          <tr>
                            <td colspan="2" class="text-center">
                              <strong>Data Gammer</strong>
                            </td>
                            <td class='text-center'>
                              {{#validPointsColor user.fs_game_point}}
                                {{this}}
                              {{/validPointsColor}}
                          </td>
                          </tr>
                        </thead>
                        <tbody>
                          {{#each dataGammer}}
                          <tr class="text-center">
                            <td><strong>{{title}}</strong></td>
                            <td class="lead" stast-name='{{name}}'>{{value}}</td>
                            <td class="lead"><button class="fs_game_point-{{name}} btn btn-lg text-success bi-caret-up-fill" stast-camp='{{name}}' stast-id={{user_id}}></button></td>
                          </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
        {{/if}}

        <!-- CARD MISSIONS -->
        {{#if missions}}
          <div class="card col-12 m-auto bg-dark mt-5 shadow">
            <div class="card-body container-fluid">
              <div class="row">
                {{#each missions}}
                  <div class="card col-md-4 bg-dark shadow border fs-border-primary m-auto text-light">
                    <div class="card-body text-center">
                      <h2>{{fs_name}}</h2>
                      {{#timeago fs_timestamp}}
                        <p class="text-center">{{this}}</p>
                      {{/timeago}}
                      <hr>
                      <p class="my-3 lead p-2">{{fs_description}}</p>
                      <table class="table table-sm table-dark table-bordeless trable-striped lead">
                        <tbody>
                          <tr>
                            <td>Reward</td>
                            <td>{{fs_reward}} <b class='fs-text-primary'>'fantasititas'</b></td>
                          </tr>
                          <tr>
                            <td>Mission of Type</td>
                            <td>{{fs_type}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <form action="/game/missions/{{id}}" method="post">
                        <input type="submit" class='btn fs-btn-out-primary btn-lg w-100' value='Accept Mission'>
                      </form>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        {{/if}}
        {{#if missionStatus}}
          <p class="text-center text-muted lead mt-5">No mission available</p>
        {{/if}}

        <!-- CARD shop -->
        {{#if shop}}
          <div class="card col-12 m-auto bg-dark mt-5 shadow">
            <div class="card-body container-fluid">
                <div class="row">
                  <!-- <div class="card col-md-4 bg-dark  m-auto text-light">
                    <div class="card-body text-center">
                      item
                    </div>
                  </div> -->
                </div>
            </div>
        {{/if}}

      </div>
    </div>
  </div>
</div>
