{{#if gammer}}
  <div class="container">
    <div class="row">
      <div class="card bg-dark col-md-8 m-auto">
        <div class="card-header text-light center-xy">
          <h3>@{{user.fs_username}}</h3> <strong class="mx-3 text-muted">Level: {{gammer.fs_lv}}</strong>
        </div>
        <div class="card-body text-light">
          <div class="container">
            <div class="row">
              <!-- IMG -->
              <div class="card card-body bg-dark col-md-4">
                <img src="/img/{{user.fs_avatar_name}}" alt="Pernage Game" class='rounded-circle'>
              </div>
              <div class="card card-body bg-dark col-md-8 lead">
                <p><i class='text-muted'>Gmail:</i> {{user.fs_email}}</p>
                <p><i class='text-muted'>Role:</i> {{user.fs_role}}</p>
                <p><i class="text-muted">Speciality:</i> {{user.speciality.stat}}</p>
                <p><i class="text-muted">Points:</i> {{user.speciality.value}}</p>
                <p><i class="text-muted">Type:</i> {{gammer.fs_type}}</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="container">
    <div class="row">
      <div class="col-md-10 card m-auto bg-dark">
        <div class="card-body">
          <form class="" action="/search" method="post">
            <input type="text" id='search-user' placeholder="Search User" class="fs-form-input">
          </form>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <table class='table table-striped table-hover table-dark'>
        <tbody id="result-search"></tbody>
      </table>
    </div>
  </div>
{{/if}}
